In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import requests
import os
import time
import json

In [9]:
main_df = pd.read_csv('execpay_financials_sp500.csv').drop(columns=['cik','id'])

main_df.drop_duplicates(inplace=True)
main_df[main_df['CEO'] == True].groupby('ticker').sum()

,year,salary,bonus,stockAwards,optionAwards,nonEquityIncentiveCompensation,otherCompensation,total,changeInPensionValueAndDeferredEarnings,CEO,CFO,Interim,Revenue,Gross Profit,Operating Income,Income after Tax,Net Income Common
ticker,,,,,,,,,,,,,,,,,
A,28222,14183269,0,82032760,25763923,19888144,1326401,145807034,286530.0,14,0,0,7.507250e+10,3.916575e+10,1.121000e+10,8.986500e+09,9.619000e+09
AAL,28222,2441140,0,130227654,0,10203331,15191967,159413533,1343080.0,14,0,0,4.842888e+11,1.248102e+11,2.898800e+10,1.304125e+10,1.304125e+10
AAP,20165,9668318,3485000,44487383,14649081,8633582,2137795,83061159,0.0,10,0,0,9.050150e+10,4.102867e+10,7.165210e+09,4.629262e+09,4.663842e+09
AAPL,24190,27321602,0,82347835,0,82999000,6005089,198673526,0.0,12,0,0,2.680679e+12,1.055079e+12,7.610095e+11,6.082170e+11,6.082170e+11
ABBV,18153,14611346,0,90913929,25481828,35757875,7528544,195391547,4055136.0,9,0,0,2.689395e+11,1.994642e+11,7.960050e+10,4.949625e+10,4.946950e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,78623,36478563,4101050,69523658,90238566,62481973,45054607,334485866,14127717.0,39,0,0,3.828735e+11,2.014980e+11,7.536800e+10,4.810050e+10,5.051275e+10
ZBH,36306,14623693,1346000,68455584,62577128,17049983,2665893,171378848,2715694.0,18,5,5,1.269090e+11,9.081192e+10,1.304368e+10,1.307530e+10,1.308285e+10
ZBRA,26222,12679100,0,59775901,12967242,19148913,960555,105531711,0.0,13,0,0,4.446959e+10,2.059280e+10,5.333937e+09,3.303375e+09,3.304858e+09
ZION,54431,21152988,11702000,15629354,3350878,7071579,1166422,58692242,347560.0,27,0,0,7.047798e+10,6.489968e+10,2.003669e+10,1.412099e+10,1.245729e+10
ZTS,20165,10643533,0,51539576,20646680,16059793,2362351,101710673,0.0,10,0,0,5.388575e+10,3.575100e+10,1.286400e+10,9.542750e+09,9.552250e+09

In [13]:
main_df[(main_df['ticker']=='ABBV')].head(10)

,ticker,name,position,year,salary,bonus,stockAwards,optionAwards,nonEquityIncentiveCompensation,otherCompensation,total,changeInPensionValueAndDeferredEarnings,CEO,CFO,Interim,Revenue,Gross Profit,Operating Income,Income after Tax,Net Income Common
1096,ABBV,Richard A. Gonzalez,Chairman of the Board and Chief Executive Officer,2021,1700000,0,12573689,3134649,4908750,814073,23912154,780993.0,True,False,False,5.382250e+10,3.603050e+10,1.548550e+10,7.733250e+09,7.708750e+09
1097,ABBV,Laura J. Schumacher,"Vice Chairman, External Affairs and Chief Lega...",2021,1248154,0,4258823,1061733,2638860,291570,12411838,2912698.0,False,False,False,5.382250e+10,3.603050e+10,1.548550e+10,7.733250e+09,7.708750e+09
1098,ABBV,Robert A. Michael,"Vice Chairman, Finance and Commercial Operatio...",2021,1129881,0,4258823,1061733,2630000,61389,11667666,2525840.0,False,True,False,5.382250e+10,3.603050e+10,1.548550e+10,7.733250e+09,7.708750e+09
1099,ABBV,Michael E. Severino,Vice Chairman and President,2021,1411031,0,4258823,1061733,2700000,181026,11049920,1437307.0,False,False,False,5.382250e+10,3.603050e+10,1.548550e+10,7.733250e+09,7.708750e+09
1100,ABBV,Jeffrey R. Stewart,"Executive Vice President, Chief Commercial Off...",2021,1074231,0,2839144,707822,2050000,129001,9013096,2212898.0,False,False,False,5.382250e+10,3.603050e+10,1.548550e+10,7.733250e+09,7.708750e+09
1101,ABBV,Carlos Alban,"Vice Chairman, Chief Commercial Officer",2020,1211808,0,5822401,1390831,2475000,324644,16853926,NaN,False,False,False,3.918450e+10,2.784400e+10,1.185825e+10,6.849750e+09,6.847500e+09
1102,ABBV,Robert A. Michael,"Executive Vice President, Chief Financial Officer",2020,1065385,0,5406515,1291477,2110000,49394,13494629,NaN,False,True,False,3.918450e+10,2.784400e+10,1.185825e+10,6.849750e+09,6.847500e+09
1103,ABBV,Richard A. Gonzalez,Chairman of the Board and Chief Executive Officer,2020,1688462,0,11644996,2781662,4908750,759586,24007591,NaN,True,False,False,3.918450e+10,2.784400e+10,1.185825e+10,6.849750e+09,6.847500e+09
1104,ABBV,Laura J. Schumacher,"Vice Chairman, External Affairs and Chief Lega...",2020,1211808,0,5822401,1390831,2550000,434534,17126276,NaN,False,False,False,3.918450e+10,2.784400e+10,1.185825e+10,6.849750e+09,6.847500e+09
1105,ABBV,Michael E. Severino,Vice Chairman and President,2020,1369923,0,5822401,1390831,2700000,216918,13411058,NaN,False,False,False,3.918450e+10,2.784400e+10,1.185825e+10,6.849750e+09,6.847500e+09